$gris: rgb(146, 145, 145);
$negro: black;
$blanco: white;
$font: 'Abel', sans-serif;
$margin: 100px;
$font2: 'Open Sans', sans-serif;
$size: 30px;
$size2: 20px;
$size3: 50px;
$decoration: none;
$display: flex;
$center: center;
$left: left;
$pad: 100px;
$wrap: wrap;

footer {
    font-family: $font;
    color: $gris;
    margin-left: $margin;
}

.titulito {
    font-family: $font2;
    font-size: $size;
    letter-spacing: 5px;
    margin-left: 8px;
    color: $blanco;
    font-size: 30px;
    text-align: left;
}

#cajita1 {
    margin-left: 7px;
    background-color: $negro;
}

a {
    font-family: $font;
    font-size: 17px;
    margin-top: 40px;
    text-decoration: $decoration;
    color: $gris;
}

a:hover {
    color: $negro;
    font-weight: bold;
}

/* Inicio discografía */
.spotify {
    display: $display;
    justify-content: center;
}

.disco {
    font-family: font2;
    letter-spacing: 5px;
    margin-left: 20px;
    color: $blanco;
}

.todo {
    background-color: $negro;
}

p {
    color: $blanco;
    font-family: $font;
    font-size: 25px;
}

.disco2 {
    color: $blanco;
    font-family: $font;
    font-weight: bold;
    margin-top: 10px;
}

/* Fin discografía */

/* Inicio index */

.imagen2 {
    height: 330px;
    width: 96%;
}
.imagen2:hover {
    transform: scale(1.05);
}

img {
    margin: 1.66%;
}

.heighttt {
    height: 400px;
}

.tributo {
    font-size: $size2;
    font-family: $font;
    color: $negro;
    text-align: $center;
}

/* Fin indez */

/* Inicio Videos */
.boxvideo {
    background-color: $negro;
    justify-content: $center;
    padding: $pad;
    display: $display;
    flex-wrap: $wrap;
}

.hola {
    margin: $size3;
    margin-top: -20px;
}

.texto {
    color: $blanco;
    text-align: $left;
    font-family: $font;
    font-size: $size2;
    margin-top: 1px;
}

.boxvideo2 {
    background-color: $blanco;
    justify-content: $center;
    padding: $pad;
    display: $display;
    flex-wrap: $wrap;
}

.hola2 {
    margin: $size3;
    margin-top: -20px;
}

.texto2 {
    color: $negro;
    text-align: $left;
    font-family: $font;
    font-size: $size2;
    margin-top: 1px;
}

.boxvideo3 {
    background-color: $negro;
    justify-content: $center;
    padding: $pad;
    display: $display;
    flex-wrap: $wrap;
}

.hola3 {
    margin: $size3;
    margin-top: -20px;
}

.texto3 {
    color: $blanco;
    text-align: $left;
    font-family: $font;
    font-size: $size2;
    margin-top: 1px;
}

.suscripción {
    border-radius: 1px;
    position: fixed;
    right: 0px;
}